body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color var(--transition-duration) var(--transition-timing),
        color var(--transition-duration) var(--transition-timing);
}

/* variáveis */

:root {
    --bg-color: #eaeaea;
    --itens-color: #fff;
    --icons-color: #000;
    --text-color: #000;
    --subtitle-color: #a6a6a6;

    --arrow-hover: #000;
    --form-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.dark {
    --bg-color: #22211F;
    --itens-color: #333438;
    --icons-color: #fff;
    --text-color: #fff;
    --subtitle-color: #a6a6a6;

    --arrow-hover: #eaeaea;
    --form-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

.dark .form-container {
    box-shadow: var(--form-shadow);
    border: var(--form-border);
}

.home {
    background-image: radial-gradient(#274313, #597731);
    border-radius: 13px;
}

.nav-bar svg {
    padding: 5px;
}

.subtitulo {
    color: var(--subtitle-color);
}

.icon {
    color: var(--icons-color);
}

.item {
    background-color: var(--itens-color);
    color: var(--subtitle-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    transition: border .3s ease-in-out;
}

.menu {
    box-shadow: var(--form-shadow);
}

.item:hover {
    border: 1px solid var(--stroke-color);

    .arrows {
        color: var(--arrow-hover);
    }
}

.subtitle {
    color: var(--subtitle-color);
    font-weight: bold;
}

.arrows {
    color: var(--stroke-color);
    transition: color var(--transition-duration) var(--transition-timing);
}

.item-title {
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: bold;
}

.fundo {
    background-color: var(--bg-color);
}

/* Animação para o modal */
#reservaModal {
    transition: opacity 0.3s ease;
}

#reservaModal:not(.hidden) {
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.textmodal {
    color: var(--modal-text-color);
}

.modalbox {
    background-color: var(--bg-color);
}

.medalbuttons {
    border-top: 1px solid #515257;
}

.borda {
    border-right: 1px solid #515257;
    color: var(--modal-text-color);
}