body {
    background-image: var(--background-gradient);
    transition:
        background-image var(--transition-duration) var(--transition-timing),
        color var(--transition-duration) var(--transition-timing);
}

/* VARIÁVEIS */

:root {
    --form-color: #eaeaea;
    --back-button-color: #f5f5f5;
    --text-color: #737373;
    --input-color: #fff;
    --title-color: #000;
   
    --button-color: linear-gradient(135deg, #4a7b29, #6c8f3e);
    --logo-color: url(img/VIVAICON-removebg-preview.png);
    /* Adicionei essa que estava faltando */


    --background-gradient: linear-gradient(to bottom, #f0eeef, #555555 50%);
    --transition-duration: 0.4s;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark {
    --form-color: #22211f;
    --back-button-color: #333438;
    --text-color: #a6a6a6;
    --input-color: #333438;
    --title-color: #fff;
    --logo-color: url(img/LOGOBRANCA.png);

    --background-gradient: linear-gradient(to bottom, #121212, #333333 50%);
    --form-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    --form-border: 1px solid rgba(255, 255, 255, 0.1);
}

/* ESTILIZAÇÃO FORMULÁRIO */

.dark .form-container {
    box-shadow: var(--form-shadow);
    border: var(--form-border);
}

.form-container,
.input-group input{
    transition:
        background-color var(--transition-duration) var(--transition-timing),
        color var(--transition-duration) var(--transition-timing),
        border-color var(--transition-duration) var(--transition-timing);
}

.form-container {
    width: 100%;
    height: auto;
    /* border-radius: 25px; */
    background-color: var(--form-color);
    padding: 2rem;
    color: var(--text-color);
    position: absolute;
    top: 44%;
}

.title {
    text-align: center;
    font-size: 25px;
    line-height: 2rem;
    font-weight: 700;
    color: var(--title-color);
    transition: color var(--transition-duration) var(--transition-timing);
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: var(--text-color);
    margin-bottom: 4px;
}

.input-group input {
    width: 100%;
    border-radius: 14px;
    outline: 0;
    background-color: var(--input-color);
    padding: 0.75rem 1rem;
    color: var(--text-color);
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--text-color);
    margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
}

.sign {
    display: block;
    width: 100%;
    background: var(--button-color);
    /* blue button */
    padding: 0.75rem;
    text-align: center;
    color: #fff;
    /* white text */
    border: none;
    border-radius: 14px;
    font-weight: 600;
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: #ccc;
}

.social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--text-color);
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
}

.social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
}

.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--text-color);
}

#logo-image {
    transition: opacity 0.3s ease-in-out;
}

/* Para uma transição mais suave durante a troca */
.logo-transition {
    opacity: 0;
}